#파드 설정
apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
      - name: petclinic
        image: hklee2748/petclinic:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: petclinic-home
          mountPath: /var/petclinic-home
      volumes:
      - name: petclinic-home
        persistentVolumeClaim:
          claimName: petclinic-pvc
