#PVC 설정
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: petclinic-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 2Gi
